<ion-view view-title="GAME">
  <ion-content>
    <h2>Round {{round}}</h2>
<button class="button button-block {{buttonpositive}}" ng-click="read()">Leer Cartas</button>
<!--<button class="button button-block button-assertive" ng-click="read('red')" >Player Red</button>
<button class="button button-block button-balanced" ng-click="read('green')">Player Green</button>
<button class="button button-block button-energized" ng-click="read('yellow')">Player yellow</button>-->

<video id="preview"></video>
  </ion-content>
</ion-view>
