<ion-view view-title="Home">
  <ion-content>
    <div class="list card">


        <img width="100%" src="https://benefitstorage.blob.core.windows.net/media/logo.jpeg">


      <div class="item item-body">

        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <label class="item">
            <button class="button button-block button-positive" ng-click="init()">Nueva Partida</button>
            <button class="button button-block button-positive" >Créditos</button>
          </label>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
