<ion-view view-title="Browse">
  <ion-content>
    <div class="list card">

      <div class="item">
        <img src="http://de10.com.mx/sites/default/files/styles/detalle_nota/public/2017/06/27/aliens-thumb.jpg?itok=bVPTgqL6">
      </div>

      <div class="item item-body">

        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <label class="item">
            <button class="button button-block button-positive" ng-click="init()">Nueva Partida</button>
            <button class="button button-block button-positive" >Créditos</button>
          </label>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
